.numbersDiv {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.numbersDiv p {
  text-align: center;
  background-color: rgba(1, 1, 1, 0.1);
  border-radius: 5px;
  padding: 15px;
}

@media only screen and (max-width: 580px) {
  .numbersDiv p {
    padding: 10px;
  }
  .numbersDiv {
    margin: 10px;
    flex-direction: column;
  }
}
