/* --- Global styles --- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin: 5px auto;
  padding: 5px;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 40px;
  margin: 5px;
  text-align: left;
  width: max-content;
}

h3 {
  font-size: 30px;
  margin: 5px;
}

p {
  font-size: 30px;
  margin: 5px;
}
