
/*
* {border: 1px solid red;
}*/

.about {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .left, .about .right {
    width: 50%;
    margin: 15px;
}


.about .right img {
    width: 100%;
}






