button {
  margin: 5px;
  padding: 5px;
  font-size: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

button:enabled:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

@media only screen and (max-width: 1545px) {
  button {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1090px) {
  button {
    font-size: 20px;
  }
}

@media only screen and (max-width: 850px) {
  button {
    font-size: 18px;
  }
}
