.projectPage {
  width: 65%;
}

.projectPage video {
  width: 100%;
  margin: 15px auto;
  padding: 10px;
  display: block;
}

.projectPage .inactiveLink {
  border: 1px solid green;
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
