.projectPage {
  width: 65%;
}

.projectTile {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  padding: 15px;
}

.projectPage video {
  width: 100%;
  margin: 15px auto;
  padding: 10px;
  display: block;
}

.projectPage .inactiveLink {
  border: 1px solid green;
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
