.homeTop {
  display: flex;
  background-image: url(../../assets/me1.jpg);
  background-size: cover;
  width: 60%;
  margin: 15px auto;
  height: max-content;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

.homeTop p {
  width: 40%;
  margin: 35px;
}


/*.twitter {
  width: 25%;
  overflow-y: scroll;
}*/

.numbers {
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  margin: 30px auto;
  margin-bottom: 5px;
  width: 60%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}
