/*
* {border: 1px solid red;}
*/


.blogPage {
  display: flex;
  height: 100%;
  padding: 0px;
}

.preview { /*div within div within section */
  width: 60%;
  margin: 15px auto;
  padding-top: 0px;
  border-radius: 5px;
}

.archive {
  width: 30%;
  position: sticky;
  top: 10px;
  height: min-content;
  max-height: 100vh;
  overflow-y: auto;
  margin: 0;
}
