/*
* {border: 1px solid red;}
*/


.blogPage {
  display: flex;
  height: 100%;
  padding: 0px;
}

.preview { /*div within div within section */
  width: 50%;
  margin: 15px ;
  padding-top: 0px; 
}

.archive {
  width: 25%;
  position: sticky;
  top: 10px;
  height: min-content;
  max-height: 100vh;
  overflow-y: auto;
  margin: 0;
}
