.archive {
  border: 1px solid lightgray;
  margin: 15px;
}

.archive summary,
.archive details,
.archive p {
  font-size: 30px;
}

.year {
  font-size: 30px;
  margin: 5px;
  margin-left: 5px;
}

.month {
  margin: 5px;
  margin-left: 20px;
  font-size: 30px;
}

.day a {
  font-size: 30px;
}
