.archive {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  margin: 15px;
}

.archive summary,
.archive details,
.archive p {
  font-size: 25px;
}

.year {
  font-size: 25px;
  margin: 5px;
  margin-left: 5px;
}

.month {
  margin: 5px;
  margin-left: 20px;
  font-size: 25px;
}

.day a {
  font-size: 25px;
}

@media only screen and (max-width: 1545px) {
  .archive p,
  .archive summary,
  .archive details,
  .year,
  .month,
  .day a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1090px) {
  .archive p,
  .archive summary,
  .archive details,
  .year,
  .month,
  .day a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 850px) {
  .archive p,
  .archive summary,
  .archive details,
  .year,
  .month,
  .day a {
    font-size: 15px;
  }
}
