.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  border: 1px solid lightgray;
}

.nav li {
  padding: 5px;
}

.nav a {
  text-decoration: none;
  font-size: 30px;
}

.nav a:visited {
  color: black;
}

nav li:hover {
  background-color: lightgray;
}

.nav .activeNavLink {
  font-weight: bold;
  text-decoration: underline;
}
