.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  border: 1px solid lightgray;
}

.nav li {
  padding: 5px;
}

.nav a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.nav a:visited {
  color: black;
}

nav li:hover {
  background-color: lightgray;
}

.nav .activeNavLink {
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (max-width: 1090px) {
  .nav a {
    font-size: 25px;
  }
}

@media only screen and (max-width: 850px) {
  .nav a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 710px) {
  .nav a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 580px) {
  .nav a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
}
